<div>
    <ul>
        <li ng-repeat="review in reviews">
            {{ review.author }}, {{ review.rating }}<br>
            <form name="review{{review.id}}" ng-submit="review.put()">
                <input type="text" ng-model="review.author">
                <button type="submit">Submit Author</button>
            </form>
            <br>
            <button type="button" ng-click="review.book.get()">Show Book</button>
            Title: {{ books[review.book.id()].title }}
            <br><br>
        </li>
    </ul>
    <button type="button" ng-click="location.path('/book')">Go To Books</button>
</div>
