<div>
    <ul>
        <li ng-repeat="review in reviews">
            {{ review.reviewBody }}, {{ review.rating }}<br>
            <form name="review{{review.id}}" ng-submit="review.put()">
                <input type="text" ng-model="review.reviewBody">
                <button type="submit">Submit Review</button>
            </form>
            <br>
            <button type="button" ng-click="review.itemReviewed.get()">Show Book</button>
            Title: {{ books[review.itemReviewed.id()].name }}
            <br><br>
        </li>
    </ul>
    <button type="button" ng-click="location.path('/book')">Go To Books</button>
</div>
